<footer class="bg-[#0c2304] shadow-xl">
    <div class="container flex justify-items-start p-1 mx-auto text-gray-600">
        
        <div class="container flex items-center justify-items-start p-6 mx-auto text-gray-900">
            <a href="/"><span class="text-l md:text-l text-gray-200"> Football Quotes 2022</span></a>
        </div>

        <div class="container flex items-center justify-end p-6 mx-auto text-gray-600">
            
            
            <svg width="30" height="30" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#FFF" stroke="#FFF"><path d="m8 256c0-137 111-248 248-248s248 111 248 248-111 248-248 248-248-111-248-248zm231-113.9-135.5 135.5c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0l101.6-101.6 101.6 101.6c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9l-135.5-135.5c-9.4-9.4-24.6-9.4-34 0z"/></svg>

            <a href="#top">
                <span class="pl-2 text-l md:text-l text-gray-200">Back To Top</span>
            </a>

        </div>
        
    </div>
</footer>


<script>
    const btn = document.querySelector('button.mobile-menu-button');
    const menu = document.querySelector('.mobile-menu');

    btn.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>
</body>
</html>